@tailwind base;
@tailwind components;

.btn {
    @apply bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded;
}

@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

.root{
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    padding: 10px;
}

.filler {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

.version {
    display: block;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 10px 10px 10px;
}

img{
    width: 20px;
    height: 20px;
}